page-update {
  ion-title{
    position: absolute;
    left: 127px;
    top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    }


}
// .my-custom-class .action-sheet-group {
//   background: #ff0000;
// }
.my-custom-class {
  --background: #fa0b0b;
}
.tostcss{
text-align: center;
}
